* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
        "Helvetica", "Arial", sans-serif;
}

.header {
    background: rgba(0, 0, 0, 0.8);
    color: #f5f5f7;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.header,
.header nav,
.header ul {
    height: 44px;
}

.header nav.mobile {
    display: none;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

@media screen and (max-width: 390px) {
    .header nav.desktop {
        display: none;
    }

    .header nav.mobile {
        display: block;
    }

    .header ul {
        justify-content: space-between;
    }
}

.header li {
    margin: 0 1.5em;
}

.hero {
    position: relative;
    margin-top: 44px;
}

.hero .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 35px;
}

.hero img {
    height: 34%;
}

.hero video {
    width: 100vw;
}

.hero button {
    appearance: none;
    border: none;
    background: white;
    color: #1d1d1f;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 980px;
    font-weight: 600;
}

.product {
    position: relative;
}

.product video {
    width: 100vw;
}

.product .text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}

.product .text h2 {
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
}

.product .text h3 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.112px;
    line-height: 31.0022px;
}

.product .text .links a:first-child {
    margin-right: 35px;
}

.product .links a {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.231px;
    line-height: 29.001px;
    color: rgb(0, 102, 204);
    text-decoration: none;
}
@media screen and (max-width: 390px) {
    .product .text h2 {
            font-size: 20px;
            line-height: 1.0714285714;
            font-weight: 500;
            letter-spacing: -0.005em;
    }
    .product .text h3 {
            font-size: 16px;
        }
    .product video {
        margin-top: 100px;
    }
    .product .links a {
        font-size: 16px;
    }
}

.product .text .links a:hover {
    text-decoration: underline;
}
.image-part3 img {
    width: 100vw;
    height: auto;
    position: relative;
}